<h4><%= link_to writing.title, writing_path(writing.id) %></h4>
<ul class="list-inline">
  <li><i class="fa fa-eye"></i>1,322</li>
  <li><i class="fa fa-comment"></i>23</li>
  <li><i class="fa fa-heart"></i>289</li>
</ul>
<hr>
