@import "bootstrap-sprockets";
@import "bootswatch/simplex/variables";
@import "bootstrap";
@import "font-awesome";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

a {
  color: #333333;
  &:hover {
    color: #333333;
    text-decoration: none;
  }
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #777777;
  letter-spacing: -1px;
  padding-top: 4px;
  font-weight: bold;
  &:hover {
    color: #777777;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* forms */

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: center;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
      font-weight: bold;
    }
  }
  .img-circle {
    float: center;
    margin-right: 10px;
    margin-top: 15px;
  }
}

/* media */

.writing-list {
  .writing-list-link {
    color: #D9230F;
  }
  i {
    margin-right: 6px;
  }
}

/* home page */

.home-right {
  ol {
    margin-left: -10px;
    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}

/* writings show */

.writings-show {
  h1 {
    //font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
  }
  .writings-content {
    position: relative;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    //font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: .01rem;
    font-weight: 200;
    font-style: normal;
  }
  .social {
    font-size: 16px;
    i {
      margin-right: 12px;
    }
  }
  .media {
    p{
      font-weight: 200;
      font-size: 16px;
    }
  }
}

#tag_cloud {
  line-height: 1.6em;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}